/*

color-1:#1F2937
color-2:#F9FAF8
color-3:#E5E7EB
color-4:#3382F6


font-family: 'Poppins', sans-serif;

*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f9faf8;
  font-size: 1.6rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
/* ----------------------------------- */
/*==============header=================*/
/*-------------------------------------*/
header {
  background-color: #1f2937;
  padding: 2.4rem 8.6rem 12rem 8.6rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.nav_navigation {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.nav_logo {
  font-size: 2.4rem;
  font-weight: 600;
}

.nav_link {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 1.8rem;
}
/*  header-hero*/
.header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.hero-text {
  flex: 0 0 auto;
  width: 50rem;
}
.hero-title {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
}
.hero-description {
  /* color: #e5e7eb; */
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
button {
  padding: 1.2rem 2.4rem;
  background-color: #3382f6;
  color: inherit;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.hero-img img {
  height: 32rem;
  width: auto;
  border-radius: 1rem;
}

/* ----------------------------------- */
/*========= about us section===========*/
/*-------------------------------------*/

.about-us-section {
  padding: 8rem 8.6rem 12rem 8.6rem;
  color: #1f2937;
  text-align: center;
}
.about-us-section h2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 3.6rem;
  text-transform: uppercase;
}

.about-us-cards {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}

.card_img img {
  height: 20rem;
  border: 0.5rem solid #3382f6;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.img-3 {
  width: 20rem;
}
/* ----------------------------------- */
/*============Quotes section===========*/
/*-------------------------------------*/

.quotes-section {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 8rem 8.6rem 12rem 8.6rem;
  text-align: center;
}
blockquote {
  font-size: 3.6rem;
  font-weight: 200;
  font-style: italic;
}
.quotes-section p {
  text-align: right;
  font-weight: 500;
}
/* ----------------------------------- */
/*=========call to action section======*/
/*-------------------------------------*/

.cta-section {
  padding: 8rem 8.6rem;
}
.cta {
  background-color: #3382f6;
  padding: 3.6rem;
  border-radius: 2rem;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: center;
}
.cta_textbox {
  flex: 1 0;
}

.cta button {
  border: 0.3rem solid #f9faf8;
}
/* ----------------------------------- */
/*==============footer=================*/
/*-------------------------------------*/

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  font-size: 1rem;
}
footer a {
  color: #e5e7eb;
  text-decoration: none;
}
